extends layout

block content
    .limiter
      .container-login100
        .login100-more(style="background-image: url('images/bg-01.jpg');")
        .wrap-login100.p-l-50.p-r-50.p-t-72.p-b-50
          form.login100-form.validate-form
            span.login100-form-title.p-b-59
              | ECoin Wallet Lookup
            .wrap-input100.validate-input(data-validate='PubKeyHash is required')
              span.label-input100 PubKeyHash
              input.input100(type='text', name='pubKeyHash', placeholder='Your PubKeyHash...')
              span.focus-input100
            .wrap-input100
              span.label-input100 Balance
              input.input100(type='text', name='balance', placeholder='Your Balance...', readonly='')
              span.focus-input100
            .wrap-input100
              span.label-input100 Total Deposit
              input.input100(type='text', name='deposit', placeholder='Your Total Deposit...', readonly='')
              span.focus-input100
            .wrap-input100
              span.label-input100 UTXOS
              input.input100(type='text', name='utxos', placeholder='Your UTXOS...', readonly='')
              span.focus-input100
            .container-login100-form-btn
              .wrap-login100-form-btn
                .login100-form-bgbtn
                button.login100-form-btn
                  | Lookup
              a.dis-block.txt3.hov1.p-r-30.p-t-10.p-b-10.p-l-30(href='#', onClick='getKey()')
                | New Wallet
    // ===============================================================================================
    script(src='/vendor/jquery/jquery-3.2.1.min.js')
    // ===============================================================================================
    script(src='/vendor/animsition/js/animsition.min.js')
    // ===============================================================================================
    script(src='/vendor/bootstrap/js/popper.js')
    script(src='/vendor/bootstrap/js/bootstrap.min.js')
    // ===============================================================================================
    script(src='/vendor/select2/select2.min.js')
    // ===============================================================================================
    script(src='/vendor/daterangepicker/moment.min.js')
    script(src='/vendor/daterangepicker/daterangepicker.js')
    // ===============================================================================================
    script(src='/vendor/countdowntime/countdowntime.js')
    // ===============================================================================================
    script(src='/js/main.js')